<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10060931202-u170n8pbf22ik3lntrtoo16avhp2a6p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10060931202-u170n8pbf22ik3lntrtoo16avhp2a6p6</string>
	<key>API_KEY</key>
	<string>AIzaSyDneLgrsBwz3600t7MdA6dy7UPB6RzuCAw</string>
	<key>GCM_SENDER_ID</key>
	<string>10060931202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codetalks</string>
	<key>PROJECT_ID</key>
	<string>codetalks-1</string>
	<key>STORAGE_BUCKET</key>
	<string>codetalks-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10060931202:ios:769c954288eb1a65e0149b</string>
</dict>
</plist>